public/wp-admin
public/wp-includes
public/*.php
public/wp-content/uploads
public/*.html
public/.htaccess
public/license.txt
public/wp-content/debug.log

/vendor/
test

sql

.env
.env.local
\nweb/app/uploads/*
\n!web/app/uploads/.gitkeep
